/bind/.env
/bind/env/
/discourse/.env
/discourse/env/
/discourse/repo
/efk/.env
/efk/env/
/rocketchat/.env
/rocketchat/env/
/wikimedia/.env
/wikimedia/env/
/wordpress/.env
/wordpress/env/


tmp*

!tmp*.*
