<% set ns_aliases = namespace(inner = {}) %>

{% for param in params | default([]) %}

{% if param.when | default(true, true) | bool %}

{% set ns_aliases.inner = ns_aliases.inner | combine({
        param.alias: {
            'url': param.endpoint,
            'accessKey': param.access_key,
            'secretKey': param.secret_key,
            'api': 'S3v4',
            'path': 'auto'
        }
    })
%}

{% endif %}

{% endfor %}

{% set root = { 'version': '10', 'aliases': ns_aliases.inner } %}

{{ root | to_nice_json }}