version: '2.4'

x-logging:

{% if params.use_fluentd | bool %}

  mainlog: &mainlog
    driver: "fluentd"
    options:
      tag: "{% raw %}docker.{{.Name}}{% endraw %}"
      fluentd-address: "localhost:$FLUENTD_PORT"
  jsonlog: &jsonlog
    driver: "json-file"
    options:
      max-size: "50m"

{% else %}

  mainlog: &mainlog
    driver: "json-file"
    options:
      max-size: "50m"

{% endif %}

networks:

{% if params.use_fluentd | bool %}

  log:
    driver: "bridge"

{% endif %}

  shared:
    external: true
    name: "${CTX_NAME}-network"

{% if (params.local | bool) and (not (params.external_volumes | bool)) %}

volumes:
  elasticsearch: {}

{% endif %}

services:

{% if params.pod_type in ['app', 'web'] %}

{% if params.use_nginx | bool %}

  nginx:
    container_name: "${CTX_PREFIX_MAIN}nginx"
    hostname: "nginx"
    build:
      context: .
      dockerfile: "main/nginx/Dockerfile"
      args:
        IMAGE: "{{ params.images.nginx_image }}"
        VERSION: "{{ params.images.nginx_version }}"
    restart: "unless-stopped"
    depends_on:
    - "kibana"

    {% if params.use_fluentd | bool %}

    - "fluentd"

    {% endif %}

    ports:
    - "$PUBLIC_HTTP_PORT:80"
    - "$PUBLIC_HTTPS_PORT:443"
    - "$PRIVATE_HTTP_PORT:9080"
    - "$PRIVATE_HTTPS_PORT:9443"
    networks:
    - "shared"
    volumes:
    - "$DATA_DIR/sync/certbot/etc:/etc/ssl:ro"
    - "$DATA_DIR/sync/certbot/www:/var/www/certbot:ro"
    - "$DATA_DIR/tmp/nginx:/tmp/main/nginx"
    logging: *mainlog

    {% if (params.memory.nginx | default('')) != '' %}

    mem_limit: "{{ params.memory.nginx }}"

    {% endif %}

  {% endif %}

  kibana:
    container_name: "${CTX_PREFIX_MAIN}kibana"
    hostname: "kibana"
    build:
      context: .
      dockerfile: "main/kibana/Dockerfile"
      args:
        IMAGE: "{{ params.images.kibana_image }}"
        VERSION: "{{ params.images.kibana_version }}"
    restart: "unless-stopped"

    {% if not (params.use_nginx | bool) %}

    ports:
    - "$KIBANA_PORT:5601"

    {% endif %}

    networks:
    - "shared"

    {% if params.pod_type == 'web' %}

    extra_hosts:
    - "elasticsearch:$DB_HOST_IP"

    {% endif %}

    volumes:
    - "$DATA_DIR/tmp/kibana:/tmp/main/kibana"
    logging: *mainlog

    {% if (params.memory.kibana | default('')) != '' %}

    mem_limit: "{{ params.memory.kibana }}"

    {% endif %}

{% endif %}

{% if params.pod_type in ['app', 'db'] %}

  elasticsearch:
    container_name: "${CTX_PREFIX_MAIN}elasticsearch"
    hostname: "elasticsearch"
    build:
      context: .
      dockerfile: "main/elasticsearch/Dockerfile"
      args:
        IMAGE: "{{ params.images.elasticsearch_image }}"
        VERSION: "{{ params.images.elasticsearch_version }}"
    restart: "unless-stopped"
    environment:
      cluster.initial_master_nodes: elasticsearch
      ES_JAVA_OPTS: "$ELASTICSEARCH_JAVA_OPTS"

    {% if params.use_fluentd | bool %}

    depends_on:
    - "fluentd"

    {% endif %}

    {% if not (params.internal_elasticsearch | bool) %}

    ports:
    - "$ELASTICSEARCH_PORT:9200"

    {% endif %}

    networks:
    - "shared"
    volumes:

    {% if (params.local | bool) and (not (params.external_volumes | bool)) %}

    - "elasticsearch:/usr/share/elasticsearch/data"

    {% else %}

    - "$DATA_DIR/elasticsearch:/usr/share/elasticsearch/data"

    {% endif %}

    - "$DATA_DIR/tmp/elasticsearch:/tmp/main/elasticsearch"

    ulimits:
      nofile:
        soft: 65535
        hard: 65535
      memlock:
        hard: -1
        soft: -1
    logging: *mainlog

    {% if (params.memory.elasticsearch | default('')) != '' %}

    mem_limit: "{{ params.memory.elasticsearch }}"

    {% endif %}

{% endif %}

  toolbox:
    container_name: "${CTX_PREFIX_MAIN}toolbox"
    hostname: "toolbox"
    build:
      context: .
      dockerfile: "main/toolbox/Dockerfile"
      args:
        IMAGE: "{{ params.images.toolbox_image }}"
        VERSION: "{{ params.images.toolbox_version }}"
    restart: "unless-stopped"

    {% if params.use_fluentd | bool %}

    depends_on:
    - "fluentd"

    {% endif %}

    networks:
    - "shared"

    {% if params.use_fluentd | bool %}

    - "log"

    {% endif %}

    volumes:
    - "$DATA_DIR:/var/main/data"
    - "$DATA_DIR/tmp:/tmp/main"
    - "$DATA_DIR/log:/var/log/main/{{ params.pod_type }}"
    logging: *mainlog
    command: "tail -f /dev/null"

    {% if (params.memory.toolbox | default('')) != '' %}

    mem_limit: "{{ params.memory.toolbox }}"

    {% endif %}

{% if params.use_fluentd | bool %}

  fluentd:
    container_name: "${CTX_PREFIX_MAIN}fluentd"
    hostname: "fluentd"
    build:
      context: .
      dockerfile: "main/fluentd/Dockerfile"
      args:
        IMAGE: "{{ params.images.fluentd_image }}"
        VERSION: "{{ params.images.fluentd_version }}"
        OUTPUT_PLUGIN: $FLUENTD_OUTPUT_PLUGIN
    restart: "unless-stopped"
    ports:
    - "$FLUENTD_PORT:24224"
    - "$FLUENTD_PORT:24224/udp"
    networks:
    - "log"

    {% if params.pod_type == 'web' %}

    extra_hosts:
    - "elasticsearch:$DB_HOST_IP"

    {% endif %}

    volumes:
    - "$DATA_DIR/log/fluentd:/var/log/main/fluentd"
    logging: *jsonlog

    {% if (params.memory.fluentd | default('')) != '' %}

    mem_limit: "{{ params.memory.fluentd }}"

    {% endif %}

{% endif %}