root: "template_schema"
schemas:
  template_schema:
    type: "dict"
    props:
      local:
        type: "bool"
        non_empty: true
      main_dir:
        type: "str"
        non_empty: true
      main_real_dir:
        type: "str"
        non_empty: true
      inner_scripts_dir:
        type: "str"
      pod_type:
        type: "str"
        non_empty: true
        choices: ["app", "web", "cache", "db"]
      shared_network:
        type: "str"
      use_certbot:
        type: "bool"
      use_fluentd:
        type: "bool"
      fluentd_port:
        type: "str"
      images:
        type: "dict"
        required: true
      memory:
        type: "dict"
        required: true
